<div class="container">
  <div class="d-flex justify-content-center">

    <div class="col-10">

      <form [formGroup]="getForm">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="CPF a ser pesquisado"
                 formControlName="pesquisa"
                 mask="000.000.000-00">
          <button class="btn btn-primary input-group-text text-white" id="basic-addon1" (click)="pesquisarPorCpf()">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" style="width: 15px">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>

          </button>
        </div>

      </form>

    </div>

    <div class="col-2" *ngIf="exibirMenuOpcoes">
      &nbsp;
      <button class="btn btn-primary input-group-text text-white" (click)="cadastrar()">
        Cadastrar
      </button>
    </div>

  </div>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" *ngIf="exibirCheckBoxSelecao"></th>
      <th scope="col">CPF</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Bloqueado até</th>
      <th scope="col" *ngIf="exibirMenuOpcoes"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td *ngIf="exibirCheckBoxSelecao">
        <input class="form-check-input" type="radio" name="flexRadioDefault" [id]="item.id" (click)="changeRadio(item)"
               [disabled]="item?.blockedDate">
      </td>
      <th [ngClass]="{'text-danger': item.blockedDate}">
        <label class="form-check-label" [for]="item.id">
          {{ item.cpf | formatCnpjCpf }}
        </label>
      </th>
      <td [ngClass]="{'text-danger': item.blockedDate}">
        {{ item.name }}
      </td>
      <td [ngClass]="{'text-danger': item.blockedDate}">
        {{ item.email }}
      </td>
      <td [ngClass]="{'text-danger': item.blockedDate}">
        {{ item.blockedDate | date:'dd/MM/yyyy hh:mm' }}
      </td>
      <td *ngIf="exibirMenuOpcoes">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="editar(item)">Editar</button>
                <button ngbDropdownItem (click)="bloquear(item)" *ngIf="FieldUtils.isNotFieldFilled(item.blockedDate)">
                  Bloquear usuário
                </button>
                <button ngbDropdownItem (click)="desbloquear(item)"
                        *ngIf="!FieldUtils.isNotFieldFilled(item.blockedDate)">Desbloquear usuário
                </button>
                <button ngbDropdownItem (click)="deletar(item.id)">Deletar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
